{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cadastro - Pessoa Jurídica{% endblock %}

{% block content %}
<div id="cadastro-pf" class="section">
    <div class="row">
        <div class="col-12">
            <h2><i class="fas fa-user-plus me-2"></i> Cadastro de Pessoa Física</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form id="form-pessoa-fisica">
                        <!-- Todo o formulário gerado pelo forms.js -->
                        <div id="form-container-pf"></div>
                        <button type="submit" class="btn btn-success mt-3">Salvar Pessoa Física</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'core/js/forms.js' %}"></script>
<script>
     document.addEventListener('DOMContentLoaded', () => {
        loadFormPessoaFisica();  // função que está no forms.js
        showSection('cadastro-pf');
    });
</script>
{% endblock %}